<hr class = "margin-bottom-5">
<section id="footer-v7" class="contacts-section">
    <div class="copyright-section">
        <p>2015 이강호 All Rights Reserved.</p>
        <p>Thanks to <a href = "http://baekjoon.com">Baekjoon</a>, hanjung</p>
        <ul class="list-unstyled">
            <li><a href="mailto:cannalee90@gmail.com">cannalee90@gmail.com</a></li>
        </ul>
    </div>
</section>
