<div class="header-v5">
    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li>
                        <a href="/">
                            시간표
                        </a>
                    </li>
                    <li>
                        <a>내학점 / <span id = "total_credit">0</span>학점</a>
                    </li>
                    <li>
                        <%=link_to "초기화", clear_courses_path, id: "table-clear", remote: 'true'%>
                    </li>
                    <li>
                        <a herf = "#" id = "class-save">저장하기</a>
                    </li>
                </ul>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header v5 ===-->
