#result_form_wrapper {
	margin-top: 10px;
	height: 170px;
	overflow: auto;
	border: none;
  margin-left: -15px;
  margin-right: -15px;  
}

div.timecellcontainer {
  position: absolute;
}

#search_form_wrapper {
  margin-left: -15px;
  margin-right: -15px;
}


div.addedcell {
  position: relative;
  text-align: left;
  cursor: pointer;
  display: block;
}

.small-name {
	font-size : 0.8em;
}

.class-code {
	font-color: black;
}

div.addedcell > div.outer > div.inner {
	color: #666;
	padding: 3px;
}

.font-white {
	color: #fff;
	font-weight: bold
}

em {
	font-style: normal;
	color: #737373;
}

#result_show_wrapper {
	margin-top: 10px;
	border: none;
}

div#alltimecellcontainer {	
}


#timetable> tbody > tr > td > .timecell, .table-days {
	font-size: 0.9em;
}

#search_result > thead > tr > th,  #search_result > tbody > tr > td {
  padding: 6px;
	font-size : 9pt;
	cursor: pointer;
}
#search_result {
  height: 100%; 
  margin-bottom: 0px;
} 

#result_form_wrapper {
  border: 1px solid #ddd;
}

span#added {
	margin-left : 5px;
}

#timetable > thead > tr > th, #timetable > tbody > tr > td  {
	text-align : center;
	height: 20px;
	padding : 4px;
}

#timetable {
  margin-bottom : 10px;
}


#timetable > thead > tr > th:first-child {
	max-width: 76px;
}

#chat_container {
	position: fixed;
	right: 0px;
	height: 100%;
	width: 240px;
//	border: 1px solid red;
}


#class-save{
	cursor: pointer;
}

.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #fff;
  transition: transform 0.3s;
  padding: 10px
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  display: none;
  background-color: #fff;
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.c-menu--slide-top,
.c-menu--slide-bottom,
.c-menu--push-top,
.c-menu--push-bottom {
  vertical-align: middle;
  width: 100%;
  height: 50%;
  text-align: center;
  border-radius: 10px;
  overflow-x: scroll;
}

.c-menu--slide-top .c-menu__items,
.c-menu--slide-bottom .c-menu__items,
.c-menu--push-top .c-menu__items,
.c-menu--push-bottom .c-menu__items {
  display: inline-block;
  text-align: center;
}

.c-menu--slide-top .c-menu__item,
.c-menu--slide-bottom .c-menu__item,
.c-menu--push-top .c-menu__item,
.c-menu--push-bottom .c-menu__item {
  display: inline-block;
  line-height: 60px;
}

.c-menu--slide-top .c-menu__link,
.c-menu--slide-bottom .c-menu__link,
.c-menu--push-top .c-menu__link,
.c-menu--push-bottom .c-menu__link {
  display: block;
  padding: 0 4px;
  color: #fff;
}



.c-menu--slide-top .c-menu__close,
.c-menu--slide-bottom .c-menu__close,
.c-menu--push-top .c-menu__close,
.c-menu--push-bottom .c-menu__close {
  display: inline-block;
  margin-right: 12px;
  padding: 0 24px;
  height: 50%;
  line-height: 60px;
}

.c-menu--slide-bottom,
.c-menu--push-bottom {
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

.c-menu--slide-bottom.is-active,
.c-menu--push-bottom.is-active {
  transform: translateY(0);
}
