#result_form_wrapper {
	margin-top: 10px;
	height: 250px;
	overflow: auto;
	border: none;
}


div.timecellcontainer {
  position: absolute;
}

div.addedcell {
  position: relative;
  text-align: left;
  cursor: pointer;
  display: block;
//  border-radius: 8px;
}

.small-name {
	font-size : 0.8em;
}

div.addedcell > div.outer > div.inner {
	color: #666;
	padding: 3px;
}

.font-white {
	color: #fff;
	font-weight: bold
}

em {
	font-style: normal;
	color: #737373;
}

#result_show_wrapper {
	margin-top: 10px;
	border: none;
}

div#alltimecellcontainer {	
}

#timetable> tbody > tr > td > .timecell, .table-days {
	font-size: 0.9em;
}

#search_result > thead > tr > th,  #search_result > tbody > tr > td {
	padding : 6px;
	font-size : 9pt;
	cursor: pointer;
}

span#added {
	margin-left : 5px;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	#timetable > thead > tr > th, #timetable > tbody > tr > td  {
		text-align : center;
		height: 15px;
		padding : 4px;
	}
}


#timetable > thead > tr > th, #timetable > tbody > tr > td  {
	text-align : center;
	height: 20px;
	padding : 4px;
}



.main-selector{
	z-index: 2;
}

#timetable > thead > tr > th:first-child {
	max-width: 76px;
}

#chat_container {
	position: fixed;
	right: 0px;
	height: 100%;
	width: 240px;
//	border: 1px solid red;
}
